@media screen and (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }

/* ------------------Header------------------- */

.logo {
    margin-right: 76px;
}



.mail-tel-list {
    flex-direction: row;
    gap: 40px;
}

.link-mail-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

/* ------------------Hero--------------- */

    .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 0%),
        url("../images/people-office-1.jpg");
    }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 0%),
                    url("../images/people-office-2x.jpg");
            }
        }

    .hero-title {
        margin-bottom: 48px;
    }

    /* -----------Features--------- */

    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .feature-item-icon {
        display: block;
        background: #F4F4FD;
        border-radius: 4px;
        height: 112px;
        width: 264px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features-list {
        flex-wrap: nowrap;
        row-gap: 0;
        justify-content: space-between;
    }

    .features-item {
        flex-basis: none;
    }

    .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 8px;
        margin-top: 8px;
    }

        /*------------Team-------------*/
    
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        flex-wrap: nowrap;
        justify-content: space-between;
        
    }

        /* --------------Customers---------------- */

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        row-gap: none;
    }


        /*--------------------Footer----------------------*/

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-info {
        align-items: flex-start;
        justify-content: space-between;
    }

    /* --------------------------Portfolio--------------------------- */
    
    .filters-n-cards {
        padding-bottom: 120px;
        padding-top: 100px;
    }
    
    .filters-list {
        margin-bottom: 72px;
    }

    .cards-list {
            
        row-gap: 48px;
    }
}